doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/admin.css")
        link(rel="stylesheet", href="/css/user.css")
    body 
        header.main-header 
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/" , class=(path==='/' ? "active" : "")) HOME
                    li.main-header__item
                        a(href="/add-order",class=(path==='/add-order' ? "active" : "")) ADD ORDER
                    li.main-header__item
                        a(href="") ADMIN ORDERS
        main     
            h1 My Orders
            p List Of All Orders.... 
            if order.length > 0
                table
                    tr  
                        th User
                        th Size
                        th Quantity
                        th ImageURL
                        th Description 
                        th Rate
                    each orders in order
                        tr
                            td #{orders.name}
                            td #{orders.size}
                            td #{orders.quantity}
                            td #{orders.imageUrl}
                            td #{orders.description}
                            td RS.#{orders.price} per kg    
                            
            else
                    h1 No Products     
        footer
            div.footer-content
                h3 FOR SHRI KRISHNA ENTERPRISES
                    p Conatct us @
                    div.footer-bottom
                        h6 copyright &copy;2022 
                            a(href="#") Utsav Garg
                        div.footer-menu
                            ul.f-menu
                                li 
                                    a(href="") Home
                                li 
                                    a(href="") About 
                                li 
                                    a(href="") Contact